<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %> の詳細</title>
</head>
<body>
<h1><%= data.name %></h1>
<p>クラス: <%= data.class %></p>
<p>パッシブ: <%= data.passive %></p>
<p>戦術: <%= data.senzyutu %></p>
<p>アルティメット: <%= data.ultimate %></p>
<a href="/apex">一覧へ戻る</a>
<a href="/apex/edit/<%= id %>">編集</a>
<a href="/apex/check/<%= id %>">削除</a>
</body>
</html>